{% extends 'base_template.html' %} {% block title %}
<title>Create Animal</title>
{% endblock %} {% block content %}

<h2 class="text-center">Add Animal</h2>

<form action="/animal/create/" method="post">
  {% csrf_token %}

  <div class="form-group mb-3">
    <label for="base_name">Base Name</label>
    <input
      type="text"
      class="form-control"
      name="base_name"
      id="base name"
      placeholder="your base name"
      required
    />
  </div>

  <div class="form-group mb-3">
    <label for="base_name">Scientification Name</label>
    <input
      type="text"
      class="form-control"
      name="scien_name"
      id="scien name"
      placeholder="your base scientification Name"
      required
    />
  </div>

  <div class="form-group mb-3">
    <label for="weight">Weight</label>
    <input
      type="number"
      class="form-control"
      name="number"
      id="weight"
      step="0.01"
      placeholder="your weight"
      required
    />
  </div>

  <div class="form-group mb-3">
    <label for="number">Amount</label>
    <input
      type="number"
      class="form-control"
      name="number"
      id="number"
      placeholder="your amount"
      required
    />
  </div>

  <div class="form-group mb-3">
    <label for="place">Place</label>
    <select class="form=select" name="place" id="place">
      <option value="land">Land</option>
      <option value="sea">Sea</option>
      <option value="forest">Forest</option>
      <option value="lask">Lask</option>
      <option value="mangrove_forest">Mangrove Forest</option>
  </select>
  </div>

  <div class="form-group mb-3">
        <input type="submit" value="Save" class="btn btn primary">

  </div>
</form>

{% endblock %}